iframe {
    overflow: hidden;
  }
  body
	{
		background-color:white;
	}
iframe{
	justify-content: center;
}
.col-sm
{
	margin-top: 3%;
}
.bg-light
{
	background-color: white;
	
}
.container
{
	color:black;
}

.card
{
	color:black;
}









@media only screen and (max-width: 600px) {

.card
{
	margin-left: 2%;
	margin-right: 2%;
}
iframe
{
	
}


}